__pycache__
*.pyd
*.so
.*.swp
.editorconfig
.vscode
.vs
CMakeCache.txt
CMakeFiles
src/kwVersion.cpp
bin
out
test/data/kwSnapEngine_1.md/snap/
test/data/kwSnapDaemon_1.md/snap/
test/data/kwTrackEngine_1.md/track/
test/data/kwTrackEngine_2.md/track/
test/data/kwTrackEngine_3.md/track/
